<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
      PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
      "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Luntbuild</display-name>
	<description>Build automation and management tool</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
		<description>Springframework application config</description>
	</context-param>

	<context-param>
		<param-name>installDir</param-name>
		<!-- change this for production environment !! -->
		<param-value>@installDir@</param-value>

		<description>luntbuild installation directory</description>
	</context-param>

	<filter>
		<filter-name>Restart Filter</filter-name>
		<filter-class>com.luntsys.luntbuild.RestartFilter</filter-class>
	</filter>

	<!-- ACEGI filters & filtermappings start -->
    <!--  As of Acegi 0.8.3, we are using the ProxyChainFilter which delegates to filters defined in the Application Context -->
	<filter>
       <filter-name>Acegi FilterToBean Proxy</filter-name>
       <filter-class>net.sf.acegisecurity.util.FilterToBeanProxy</filter-class>
       <init-param>
           <param-name>targetClass</param-name>
           <param-value>net.sf.acegisecurity.util.FilterChainProxy</param-value>
       </init-param>
	</filter>

	<filter-mapping>
		<filter-name>Restart Filter</filter-name>
		<url-pattern>/app.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
        <filter-name>Acegi FilterToBean Proxy</filter-name>
        <url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- ACEGI filters & filtermappings end -->
	<listener>
		<listener-class>com.luntsys.luntbuild.LuntbuildContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>luntbuild</servlet-name>
		<servlet-class>com.luntsys.luntbuild.LuntbuildServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>resourceAccessor</servlet-name>
		<servlet-class>com.luntsys.luntbuild.ResourceAccessServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>luntbuild</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>resourceAccessor</servlet-name>
		<url-pattern>/docs/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resourceAccessor</servlet-name>
		<url-pattern>/asset.as</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resourceAccessor</servlet-name>
		<url-pattern>/publish/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resourceAccessor</servlet-name>
		<url-pattern>/logs/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>@sessionTimeout@</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
