<head>
<title>Luntbuild - make software builds manageable</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link href="../../../../../../../web/WEB-INF/css/luntbuild.css" rel="stylesheet" type="text/css"/>
</head>
<span jwcid="$content$"><span jwcid="@Shell" title="ognl:title" refresh="ognl:refreshInterval" delegate="ognl:getComponent('header')">
<body jwcid="@Body">

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr bordercolor="0">
    <td bordercolor="0"> <table width="100%" height="93%" border="0" cellpadding="6" cellspacing="0" bgcolor="#336699">
        <tr>
          <th height="33" align="left" class="logoText"> LUNTBUILD</th>
          <th width="20%" align="right" nowrap><span class="productVersion"> <span jwcid="@InsertText" value="ognl:productVersion">luntbuild1.0</span> </span></th>
          <th width="4%" align="center"><a href="http://luntbuild.javaforge.com/manual/guide/index.html"><img src="images/help.gif" title="help" width="18" height="18" border="0"></a></th>
          <th width="4%" align="center"><a href="http://luntbuild.javaforge.com/"><img src="images/home.gif" title="Goto Luntbuild's home" width="22" height="18" border="0" align="absmiddle"></a></th>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td bordercolor="0"> <table width="100%"  border="0" cellpadding="0" cellspacing="0" class="hierarchyNavigation">
        <tr>
          <td height="20"> <span jwcid="$remove$">
	          <a href="#"> Home</a>
			  <span class="hierarchySymbol"> &gt; </span>
			  <a href="#">project - Luntbuild </a></span>
			  <img src="images/tree.gif" width="21" height="14" border="0" align="absmiddle">&nbsp;
			  <span jwcid="@Foreach" source="ognl:page.hierarchyPageInfos" value="ognl:currentHierarchyPageInfo">
			  <span jwcid="@ExternalLink" page="ognl:currentHierarchyPageInfo.pageName" parameters="ognl:currentHierarchyPageInfo.pageDataId">
			  <span jwcid="@Insert" value="ognl:currentHierarchyPageInfo.pageDataDescription"/></span>
			  <span class="hierarchySymbol"> &gt; </span></span><span jwcid="@Insert" value="ognl:page.pageDataDescription"/>
		  </td>
	      <td width="128" align="right"><span class="refreshText">
			  <span jwcid="@Insert" value="ognl:refreshStatusText">REFRESH IS ON</span></span>
			  <a href="#" jwcid="@DirectLink" listener="ognl:listeners.switchRefreshStatus">
			  <img jwcid="@Any" src="ognl:refreshSwitchGif" title="ognl:refreshSwitchText" width="18" height="14" border="0" align="absmiddle"/></a>
		  </td>
          <td width="107" align="right">
		      <a jwcid="@GenericLink" href="ognl:'logs/' + @com.luntsys.luntbuild.utility.Luntbuild@log4jFileName">
              <img src="images/log.gif" title="show system log" width="18" height="18" border="0" align="absmiddle"> system log </a>
		  </td>
          <td width="70" align="right">
		      <strong><a href="#" jwcid="@ServiceLink" service="ognl:@org.apache.tapestry.Tapestry@RESET_SERVICE">Forget</a></strong>
		  </td>
          <td width="70" align="right">
		      <strong><a href="#" jwcid="@ServiceLink" service="ognl:@org.apache.tapestry.Tapestry@RESTART_SERVICE">Logout</a></strong>
		  </td>
        </tr>
      </table></td>
  </tr>
  <tr align="center">
    <td bordercolor="0"> <span jwcid="@RenderBody"> page content goes here </span> </td>
  </tr>
</table>
</body>
</span>

<span jwcid="@Block">
<span jwcid="header@Header"/>
</span>

</span>
