<head>
<link href="../../../../../../../web/WEB-INF/css/luntbuild.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
-->
</style>
</head>
<span jwcid="$content$">
<table width="40%"  border="0" cellpadding="0" cellspacing="0" bordercolor="#000000" class="msgbox">
  <tr align="left">
    <td colspan="2" bgcolor="#CDDCED" class="msgboxTitle">Luntbuild</td>
  </tr>
  <tr bgcolor="#E1E1E1">
    <td width="37" align="left" valign="top" bgcolor="#FFFFFF"><img src="images/information.gif" width="32" height="32"></td>
    <td align="left" valign="top" bgcolor="#FFFFFF"><p><span jwcid="@InsertText" value="ognl:msg"> Your message goes here and we can find the best solutions that can be reasonable we will eventually find the solution </span></p>    </td>
  </tr>
  <tr bgcolor="#E1E1E1">
    <td colspan="2" align="center" valign="middle" bgcolor="#FFFFFF">
	  <a href="#" jwcid="@DirectLink" listener="ognl:listener">
	<img alt="ok" src="images/ok.gif" width="94" height="28" border="0"/>
	  </a>	</td>
  </tr>
</table>
</span>