<head>
	<title>luntbuild - make your software building managable</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
</head>

<span jwcid="$content$">
<span jwcid="@Shell" title="ognl:title" refresh="ognl:page.refreshInterval" stylesheet="ognl:stylesheet">
<body jwcid="@Body">
<table width="100%" height="192" border="1" cellpadding="0" cellspacing="0">
  <tr bordercolor="0">
    <td height="30" colspan="2" align="right" bordercolor="0">
      <table width="100%" height="93%" border="0">
        <tr>
          <th width="84%" height="33" align="left"><img jwcid="@Image" image="ognl:logoImage" alt="ognl:logoAlt" src="logo.gif" width="137" height="31"/></th>
          <th width="11%" align="center">&nbsp;</th>
          <th width="5%" align="center">&nbsp;</th>
        </tr>
    </table></td>
  </tr>
  <tr>
    <th height="25" colspan="2" align="left">&nbsp;
    	<span jwcid="$remove$">
			<a href="#">Home</a> &gt; <a href="#">project(luntbuild)</a> &gt; <a href="#">view(development)</a> &gt; <a href="#">module(luntbuild)</a>
		</span>
    	<span jwcid="@Foreach" source="ognl:page.hierarchyPageInfos" value="ognl:currentHierarchyPageInfo">
    		<span jwcid="@ExternalLink" page="ognl:currentHierarchyPageInfo.pageName" parameters="ognl:currentHierarchyPageInfo.pageDataId">
    			<span jwcid="@Insert" value="ognl:currentHierarchyPageInfo.pageDataDescription"/>
    		</span>
    		<span jwcid="@Insert" value=" > "/>
    	</span>
    	<span jwcid="@Insert" value="ognl:page.pageDataDescription"/>
    </th>
  </tr>
  <tr align="center">
    <td colspan="2">
    	<span jwcid="@RenderBody">
    	page content goes here
    	</span>
    </td>
  </tr>
  <tr>
    <td width="78%" height="24" align="center">Powered by <a href="http://luntbuild.sourceforge.net">luntbuild</a> </td>
    <td width="22%" align="right"><span jwcid="@Insert" value="ognl:productVersion">luntbuild1.0</span>
	- <span jwcid="@Insert" value="ognl:productDate">2004/4/1</span></td>
  </tr>
</table>
</body>
</span>
</span>
