<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>[luntbuild] Schedule of "${schedule_desc}" finished with status ${schedule_status}</title>
</head>

<body>
#set ($GREEN = "#00AA00")
#set ($RED = "#AA0000")
#set ($OTHER = "#AAAA00")

#if ($build_isSuccess)
  #set ($color=$GREEN)
#elseif (${build_isFailure})
  #set ($color=$RED)
#else
  #set ($color=$OTHER)
#end

<span style="color:${color}">
Schedule <a href="${schedule_url}">${schedule_desc}</a> finished with status: ${schedule_status}
at ${schedule_status_date}.
</br></br>
See the <a href="${luntbuild_systemlog_url}">system log</a> for details.
</br></br>
-- luntbuild
</span>
</body>
</html>
