<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>[luntbuild] build of "${build_project}/${build_schedule}/${build_version}" ${build_status}</title>
</head>

<body>
<!--
#set ($GREEN = "#00AA00")
#set ($RED = "#AA0000")
#set ($OTHER = "#AAAA00")

#if ($build_isSuccess)
  #set ($color=$GREEN)
#elseif (${build_isFailure})
  #set ($color=$RED)
#else
  #set ($color=$OTHER)
#end
-->
<p style="color:${color}">
Build of ${build_project}/${build_schedule}/${build_version} finished with status: ${build_status}.
</p>
<p>
This build has started at ${build_start}, and has finished at ${build_end}.
</p>
<p>
${build_user_msg}
</p>
#if($build_vs_solutions.size() > 0)
<big><b>Visual Studio Summary:</b></big><br/>
  #foreach($solution in $build_vs_solutions)
    #if($solution.Failed > 0)
      #set($solutionColor=$RED)
    #else
      #set($solutionColor=$GREEN)
    #end
<table width="85%" summary="" border="1" cellpadding="0" cellspacing="0">
  <tr>
	<td>
    <table width="100%" summary="" border="0" cellpadding="5" cellspacing="0">
	  <tr style="color:${solutionColor}">
	    <td><b>$solution.Name</b></td>
		<td align="right">$solution.Configuration</td>
	  </tr>
	</table>
	</td>
  </tr>
  <tr>
	<td>
	<table summary="" width="100%" border="0" cellpadding="5" cellspacing="0">
	  <tbody>
        #if($solution.Projects.size() > 0)
		<tr>
		  <td>Project</td>
		  <td width="100" align="right">Errors</td>
		  <td width="100" align="right">Warnings</td>
		</tr>
        #end

		#foreach($project in $solution.Projects)
		  #if($project.Errors > 0)
		    #set($projColor=$RED)
		  #else
		    #set($projColor=$GREEN)
		  #end
		<tr style="color:${projColor}">
		  <td>$project.Name</td>
		  <td align="right">$project.Errors</td>
		  <td align="right">$project.Warnings</td>
		</tr>
		#end
		<tr>
		  <td align="right">$solution.Succeeded succeeded</td>
		  <td align="right">$solution.Failed failed</td>
		  <td align="right">$solution.Skipped skipped</td>
		</tr>
	  </tbody>
	</table>
	</td>
  </tr>
</table>
  #end
#end
<p>
See the build log and the revision log for details.
</p>
<big><b>Build Artifacts:</b></big><br/>
</hr>
<table width="85%" summary="" border="0" cellpadding="5" cellspacing="0">
  <tbody>
    <tr>
	  	<td>Build Log</td>
		<td><a href="${build_buildlog_url}">${build_buildlog_url}</a></td>
	</tr>
    <tr>
	  	<td>Revision Log</td>
		<td><a href="${build_revisionlog_url}">${build_revisionlog_url}</a></td>
  	</tr>
  </tbody>
</table>
<p>
-- Luntbuild Server
</p>
</body>
</html>
