<table width="50%" height="147"  border="0" cellpadding="8" cellspacing="0" bordercolor="#000000">
  <tr align="left">
    <td height="25" colspan="3" bgcolor="#CDDCED">luntbuild</td>
  </tr>
  <tr align="left" bgcolor="#E1E1E1">
    <td height="71" colspan="3"><span jwcid="@InsertText" value="ognl:msg">Your message goes here</span></td>
  </tr>
  <tr bgcolor="#E1E1E1">
    <td width="41%" height="34" align="right" valign="top" bgcolor="#E1E1E1">
	<a href="#" jwcid="@DirectLink" listener="ognl:okListener">
	<img jwcid="@Image"image="ognl:yesImage"alt="ognl:yesAlt" src="yes.jpg" width="77" height="24" border="0"/>
	</a>	</td>
    <td width="12%">&nbsp; </td>
    <td width="47%" align="left" valign="top" bgcolor="#E1E1E1">
	<a href="#" jwcid="@DirectLink" listener="ognl:cancelListener">
	<img jwcid="@Image"image="ognl:noImage"alt="ognl:noAlt" src="no.jpg" width="77" height="24" border="0"/>
	</a>	</td>
  </tr>
</table>