<head>
<link href="../../../../../../../web/WEB-INF/css/luntbuild.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
-->
</style>
</head>
<span jwcid="$content$">
<table width="40%"  border="0" cellpadding="0" cellspacing="0" bordercolor="#000000" class="msgbox">
  <tr align="left">
    <td colspan="3" bgcolor="#CDDCED" class="msgboxTitle">luntbuild</td>
  </tr>
  <tr align="left" bgcolor="#E1E1E1">
    <td colspan="3" bgcolor="#FFFFFF"><table width="100%"  border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
      <tr>
        <td width="37" align="left" valign="top"><img src="images/information.gif" width="32" height="32"></td>
        <td width="271"><span jwcid="@InsertText" value="ognl:msg">Your message goes here today where to you want to go? </span></td>
      </tr>
    </table>      </td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td width="45%" align="right" valign="top">
	<a href="#" jwcid="@DirectLink" listener="ognl:okListener">
	<img alt="ok" src="images/ok.gif" width="94" height="28" border="0"/>
	</a>	</td>
    <td width="10%">&nbsp; </td>
    <td width="45%" align="left" valign="top">
	<a href="#" jwcid="@DirectLink" listener="ognl:cancelListener">
	<img alt="cancel" src="images/cancel.gif" width="94" height="28" border="0"/>
	</a>	</td>
  </tr>
</table>
</span>