<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.luntsys.luntbuild.luntclipse"
   name="Luntclipse"
   version="1.3.0"
   provider-name="Roman Dagi Pichlik, Lubos Pochman"
   class="com.luntsys.luntbuild.luntclipse.LuntclipsePlugin">

	<runtime>
    	<library name="luntclipse.jar">
			<export name="*"/>
		</library>
     <library name="lib/commons-codec.jar">
        <export name="*"/>
     </library>
     <library name="lib/commons-httpclient.jar">
        <export name="*"/>
     </library>
     <library name="lib/commons-logging.jar">
        <export name="*"/>
     </library>
     <library name="lib/luntbuild-api.jar">
        <export name="*"/>
     </library>
     <library name="lib/hessian-3.0.8.jar">
        <export name="*"/>
     </library>
	</runtime>

	<requires>
        <import plugin="org.eclipse.core.runtime"/>
        <import plugin="org.eclipse.ui"/>
        <import plugin="org.eclipse.jface.text"/>
    </requires>

    <extension
          point="org.eclipse.ui.views">
       <category
             id="com.luntsys.luntbuild.luntclipse"
             name="Luntclipse"/>
       <view
             category="com.luntsys.luntbuild.luntclipse"
             class="com.luntsys.luntbuild.luntclipse.views.LuntbuildView"
             icon="icons/luntbuild.gif"
             id="com.luntsys.luntbuild.luntclipse.views.LuntbuildView"
             name="Luntbuild"/>
    </extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
          <view
                id="com.luntsys.luntbuild.luntclipse.views.LuntbuildView"
                ratio="0.5"
                relationship="right"
                relative="org.eclipse.ui.views.TaskList"/>

       </perspectiveExtension>

    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="com.luntsys.luntbuild.luntclipse.preferences.LuntclipsePreferencePage"
             id="com.luntsys.luntbuild.luntclipse.preferences.LuntclipsePreferencePage"
             name="Luntclipse"/>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer class="com.luntsys.luntbuild.luntclipse.preferences.PreferenceInitializer"/>
    </extension>
    <extension
          id="luntclipse_rcp"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.eclipse.ui.ide.workbench"
             name="Luntclipse RCP"/>
    </extension>
    <extension
          id="luntclipse"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.eclipse.pde.build.Build"
             name="Luntclipse RCP"/>
    </extension>
	<extension
		  id="onlinehelp"
	      point="org.eclipse.help.toc">
	   <toc
	         file="doc/online/toc.xml"
	         primary="true">
	   </toc>
	</extension>
    <extension point="org.eclipse.help.toc">
       <toc file="doc/online/luntclipse-toc.xml" />
       <toc file="doc/online/luntbuild-toc.xml" />
    </extension>
    <extension
          point="org.eclipse.ui.startup">
       <startup class="com.luntsys.luntbuild.luntclipse.LuntclipseStartup"/>
    </extension>

</plugin>
