#set ($GREEN = "#00AA00")
#set ($RED = "#AA0000")
#set ($OTHER = "#AAAA00")

#if ($build_isSuccess)
  #set ($color=$GREEN)
#elseif (${build_isFailure})
  #set ($color=$RED)
#else
  #set ($color=$OTHER)
#end

<span style="color:${color}">
Build of ${build_project}/${build_schedule}/${build_version} finished with status: ${build_status}.
<p>
This build has started at ${build_start}, and has finished at ${build_end}.
</p>
<p>
${build_user_msg}
</p>
<p>
See the build log and the revision log for details.
</p>
<big><b>Build Artifacts:</b></big></br>
</hr>
<table summary="" border="2" cellpadding="10" cellspacing="0">
  <tbody>
    <tr>
	  	<td>Build Log</td>
		<td><a href="${build_buildlog_url}">${build_buildlog_url}</a></td>
	</tr>
    <tr>
	  	<td>Revision Log</td>
		<td><a href="${build_revisionlog_url}">${build_revisionlog_url}</a></td>
  	</tr>
    <tr>
	  	<td>Build Page</td>
      <td><a href="${build_url}">${build_url}</a></td>
  	</tr>
  </tbody>
</table>

-- luntbuild
</span>