<head>
<link href="../../../../../../../web/WEB-INF/css/luntbuild.css" rel="stylesheet" type="text/css"/>
</head>
<span jwcid="$content$"> 
<table width="100%"  border="0" cellpadding="0" cellspacing="0"> 
  <tr class="thinRow">
    <td width="7" rowspan="5" bgcolor="#EEEEEE">&nbsp;</td>
    <td height="5" bgcolor="#EEEEEE">&nbsp;</td>
    <td width="5" colspan="1" rowspan="5" bgcolor="#EEEEEE">&nbsp; </td>
  </tr>
  <tr> 
    <td height="25" bgcolor="#FFFFFF"><table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF"> 
        <tr bordercolor="#FFFFFF"> 
		<span jwcid="@Foreach" source="ognl:tabs" value="ognl:currentTab">
          <td width="120" height="25" align="center" class="ognl:tabClass" jwcid="@Any"> <a jwcid="@DirectLink" listener="ognl:listeners.selectTab" parameters="ognl:currentTab.id"> <span jwcid="@Insert" value="ognl:currentTab.tabName">tab page</span> </a> </td> 
          <td width="5" class="tabSpace">&nbsp;</td> 
		</span> 
          <td bgcolor="#EEEEEE" class="tabSpace">&nbsp;</td>
          <td width="100" bgcolor="#EEEEEE" class="tabSpace">&nbsp;</td>
		  <td width="100" bgcolor="#EEEEEE" class="tabSpace" align="right"><strong>[</strong><span jwcid="@Insert" value="ognl:principal">robin</span><strong>]</strong>&nbsp;</td>
		  </tr>
      </table></td> 
  </tr> 
  <tr bgcolor="#CCCCCC"> 
    <td align="center" valign="top" bgcolor="#FFFFFF" class="tabContent"><span jwcid="@Delegator" delegate="ognl:selectedTab">Tab page body goes here</span></td> 
  </tr> 
  <tr bgcolor="#CCCCCC"> 
    <td height="11" class="borderBottom">&nbsp;</td> 
  </tr> 
  
  <tr bgcolor="#CCCCCC"> 
    <td height="10" align="center" valign="top" bgcolor="#EEEEEE"><strong>Powered by <a href="http://www.pmease.com/luntbuild/">Luntbuild</a> - <a href="http://luntbuild.sourceforge.net/cgi-bin/moin.cgi/HelpUs">Help us</a> </strong></td> 
  </tr> 
</table> 
</span>