## Set your variables here
##set ($test_report_url="${luntbuild_webroot}/efe/latest/unittest/index.html")
##set ($coverage_report_url="${luntbuild_webroot}/efe/latest/coverage/html")
##set ($javadoc_url="${luntbuild_webroot}/efe/latest/javadoc/index.html")

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Luntbuild build report</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<style type="text/css">
.style2 {color: #FFFF00}
.style3 {color: #FFFF00; font-weight: bold; }
.style4 {
	color: #FFFFFF;
	font-weight: bold;
}
body {
	margin:0px;
	}

td {
	font:11px Arial, Helvetica, sans-serif;
	color:#000000;
	}

a {
	color: #FF6600;
	font-weight:bold;
	text-decoration:none;
	}

a:hover {
	color: #FFBA00;
	}

/* ID Styles */

#navigation a {
	font:10px Arial, Helvetica, sans-serif;
	color: #26354A;
	text-decoration: none;
	letter-spacing:.1em;
	line-height:16px;
	display:block;
	padding: 0px 10px;
	border-right:1px solid #FF6600;
	}

#navigation a:hover {
	color:#ffffff;
	background: #FF6600;
	}

#padding {
	padding:14px;
	}

/* Calendar Styles */

#calendar td {
	border: 1px solid #26354A;
	}

#noborder td {
	border: 0px;
	}

#calheader td {
	font-weight:bold;
	color: #ffffff;
	}

/* Class Styles */

.logo {
	font:24px Times New Roman, Times, serif;
	color: #FFBA00;
	letter-spacing:.3em;
	line-height:26px;
	}

.tagline {
	font: 11px Arial, Helvetica, sans-serif;
	color: #D3DCE6;
	line-height:16px;
	}

.bodyText {
	font:11px Arial, Helvetica, sans-serif;
	line-height:22px;
	color:#26354A;
	letter-spacing:.1em;
	}

.detailText {
	font:11px Arial, Helvetica, sans-serif;
	line-height:16px;
	color:#26354A;
	letter-spacing:.1em;
	}

.pageName {
	font:24px Arial, Helvetica, sans-serif;
	color: #FF6600;
	letter-spacing:.2em;
	line-height:32px;
	}

.subHeader {
	font:bold 12px Arial, Helvetica, sans-serif;
	color: #2D374D;
	font-weight:bold;
	line-height:20px;
	letter-spacing:.1em;
	}

.navText {
	font:10px Arial, Helvetica, sans-serif;
	color: #26354A;
	letter-spacing:.1em;
	line-height:16px;
	}

.calendarText {
	font:11px Arial, Helvetica, sans-serif;
	color: #26354A;
	letter-spacing:.1em;
	}


.sidebarText {
	font:11px Arial, Helvetica, sans-serif;
	color: #FFBA00;
	letter-spacing:.1em;
	line-height:18px;
	}

</style>
</head>
<body bgcolor="#FFFFFF">
<!-- Create the summary table -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr bgcolor="#3366CC">
	<td width="15" nowrap="nowrap" bgcolor="#336699"></td>
	<td height="70" colspan="2" bgcolor="#336699" class="logo"><span class="style4">LuntBuild</span>
	  <table width="530" border="1">
        <tr>
          <td width="100" class="style2"><strong>Project</strong></td>
          <td width="150"><span class="style2">${build_project}</span></td>
          <td width="98"><span class="style2"><strong>Status</strong></span></td>
          <td width="154"><span class="style2">${build_status}</span></td>
        </tr>
        <tr>
          <td><span class="style2"><strong>Schedule</strong></span></td>
          <td><span class="style2">${build_schedule}</span></td>
          <td><span class="style2"><strong>Time</strong></span></td>
          <td><span class="style2">${build_start}</span></td>
        </tr>
        <tr>
          <td><span class="style2"><strong>Build</strong></span></td>
          <td><span class="style2">${build_version}</span></td>
          <td><span class="style2"><strong>Duration</strong></span></td>
          <td><span class="style2">${build_duration}</span></td>
        </tr>
      </table>
    </td>
	<td width="100%" bgcolor="#336699">&nbsp;</td>
	</tr>

	<tr bgcolor="#FF6600">
	<td height="20" colspan="4" bgcolor="#CCCCCC"></td>
	</tr>
</table>

<!-- Additional Information -->
<big><b>Build Artifacts:</b></big></br>
</hr>
<table summary="" border="2" cellpadding="10" cellspacing="0">

  <tbody>
    <tr>
	  	<td>Build Log</td>
		<td><a href="${build_buildlog_url}">${build_buildlog_url}</a></td>
	</tr>
    <tr>
	  	<td>Revision Log</td>
		<td><a href="${build_revisionlog_url}">${build_revisionlog_url}</a></td>
  	</tr>
#if ($javadoc_url)
    <tr>
	    <td>Javadocs</td>
		<td><a href="$javadoc_url">$javadoc_url</a></td>
	</tr>
#end
#if ($test_report_url)
    <tr>
		<td>UnitTests</td>
		<td><a href="$test_report_url">$test_report_url</a></td>

  	</tr>
#end
#if ($coverage_report_url)
    <tr>
	    <td>Coverage</td>
		<td><a href="$coverage_report_url">$coverage_report_url</a></td>
  	</tr>
#end
  </tbody>
</table>

## Conditionally insert failure message
#if (${build_isFailure})
</br></br>
<big><b>Build Log</b></big></br>

</hr>
<a href="$%7Bbuild_buildlog_url%7D">${build_buildlog_url}</a>
<pre> </br>${build_buildlog_text}</br></pre>
#end

</br></br>
<big><b>Revision Log</b></big></br>
</hr>
<pre>${build_revisionlog_text}</br></pre>
</br></br>

#if (${build_test_summary})
<big><b>Unit Test Summary</b></big></br>
</hr>
${build_test_summary}
</br></br>
#end
#if  (${build_coverage_summary})
<big><b>Coverage Summary</b></big></br>
</hr>
${build_coverage_summary}
#end
</body>
</html>

